.container{
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.model{
  background-color: white;
  padding: 20px;
  border-radius: 6px;
  position: relative;
  width: 80%;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: scroll;
  animation-name: dropTop;
  animation-duration: 0.3s;
}

@keyframes dropTop {
  0%{
    translate: 0 100%;
  }
  100%{
    translate: 0 0;
  }
}

.close{
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  width: 25px;
  height: 25px;
}

.close:hover{
  color: gray;
}

.card {
  width: 300px;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  border: 2px solid black;
  margin: 10px;
}

.container-badge {
  display: flex;
  justify-content: center;
  margin: 20px 0 0;
  display: flex;
  gap: 30px;
}

.badge {
  width: 100px;
  padding: 4px;
  border-radius: 6px;
  border: 2px solid black;
  color: white;
}

.text-left{
  text-align: left;
}

.card-abilities{
  margin-bottom: 10px;
}